body {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-print-color-adjust: exact; 
}

#banner {
  text-align: center;
}

#project-title {
  padding: 30px 0 2px 0;
  margin: auto;
  border-bottom: 5px solid #bfe4ff;
  width: 40%;
}

#instructions {
  width: 75%;
  margin: auto;
  padding: 30px 0;
}

span {
  font-weight: 400;
  display: block;
}

br {
  content: "";
}

.draggable {
  background-color: darkkhaki;
  min-height: 40px;
  min-width: 250px;
  max-width: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
  border-radius: 5px;
}

.value,
.description {
  text-align: center;
}

.value {
  font-size: large;
  font-weight: bold;
}

.description {
  font-size: 18px;
}

/* TODO: figure out how the fuck to target middle column h2 */
/* .description:nth-of-type(2) {
  
} */

.dropzone {
  background-color: #bfe4ff;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
}

.column-header {
  text-align: center;
  border: 5px solid white;
  padding: 10px;
  margin-top: 10px;
}

#word-bank {
  padding: 20px;
  max-height: 100vh;
  overflow-y: scroll;
}

#grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#grid .dropzone {
  min-height: 150px;
}

/* TODO: center items in the top 3 columns */