.draggable {
  background-color: darkkhaki;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center
}

.dropzone {
  background-color: #bfe4ff;
  border: dashed 4px transparent;
  border-radius: 4px;
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  transition: background-color 0.3s;
  height: 140px;
}